{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="header">
            <h1>Task List</h1>
        </div>

        <div class="content">
            <form method='post'>
                <h3>New Task</h3>
                <input type="text" name="task" autofocus />
                <input type="submit" value="Add Task" />
            </form>

            <h3>To Do</h3>
            {% if tasks|length == 0 %}
            <p class="fancy">No tasks yet</p>
            {% else %}
                <ul>
                    {% for task in tasks %}
                    <li>{{task.name}}
                        <form method='POST' action="/delete-task" style="display:inline-block;">
                        <input type="hidden" name="task-id" value="{{task.id}}" />
                        <input type="submit" value='Done!' />
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>


        <div class="sidebar">
                <h3> Completed</h3>
                <ul>
                    {% for task in completed_tasks %}
                    <li class="grey">&#10003; {{task.name}}</li>
                    {% endfor %}
                </ul>

        </div>


        <div class="footer">
            <h2>{{message}}</h2>
        </div>

    </div>

{% endblock %}